.title {
    margin: 0;
    font-family: 'OstrichSansMedium';
    font-weight:  normal;
    font-size: 5rem;
}

.subtitle {
    margin: 0;
    margin-top: -16px;
      font-family: 'EconomicaItalic';
      font-weight:  normal;
      font-size: 2rem;
      font-variant: small-caps;
      text-transform: lowercase;
      color: #555;
}
