.container {
    display: flex;
}

.content {
    padding-right: 10px;
}

.content p {
    margin-top: 0;
}

.image {
    min-width: 160px;
}

.paragraph {
    margin-top: 0;
    font-family: 'Rambla';
    font-weight: 400;
    font-size: 1.2rem;
    color: #444;
}
