.heading {
    font-family: 'EconomicaItalic';
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.blockquote {
    margin: 0;
    font-family: 'Rambla';
    font-weight: 400;
    font-size: 1.2rem;
    color: #444;
}

.paragraph {
    font-family: 'Rambla';
    font-weight: 400;
    font-size: 1.2rem;
    color: #666;
}
